@font-face {
	font-family: 'Poppins-Medium';
	src: url("../fonts/Poppins-Medium.ttf") format('truetype');
}


body {
    background-image: url("../img/weather.jpg");
    font-family: 'Poppins-Medium';
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    
    border-top: 1px solid #B7CBEC;
    margin-top: 16px;
    padding: 16px 0;
}
footer .author{
    color:#B7CBEC;
    font-size:14px;
    font-style: italic;
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    Font-size:64px;
    margin-bottom: 16px;
    color:#B7CBEC;
}
a{
    text-decoration:none ;
    color:#FFF;
}
 header a {
    color: #4381CC;
    margin-right: 16px;
    text-decoration: none;
}
header a:hover{
    color:#FFF;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}
.span{
    color:#B7CBEC;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
p{
    color:#FFF;
    font-size: 18px;
}
.btn {
    padding: 8px;
    cursor: pointer;
    color: #B7CBEC;
    background: #233D6E;
    border:1px solid #233D6E;
}

.btn:hover {
    color:#FFF;
    background: #4381CC;
    border:1px solid #4381CC;
    transition:0.5s;
}